<div class="flex-container">
  <div class="flex-item">
    <div class="form-container">
      <h1 class="title">IP Address Tracker</h1>
      <mat-form-field >
        <input #input matInput placeholder="Search for any IP address or domain" />
        <mat-icon matSuffix (click)="searchAddress(input.value)">
          keyboard_arrow_right</mat-icon>
      </mat-form-field>
    </div>

    <div class="split-content">
      <div class="split-text">
        <h3>IP ADDRESS</h3>
        <p id="ipAddress"></p>
      </div>
    
      <div class="split-text2">
        <p class="line">|</p>
      </div>
    
      <div class="split-text">
        <h3>LOCATION</h3>
        <p id="location"></p>
      </div>
    
      <div class="split-text2">
        <p class="line">|</p>
      </div>
    
      <div class="split-text">
        <h3>TIMEZONE</h3>
        <p id="timezone"></p>
      </div>
    
      <div class="split-text2">
        <p class="line">|</p>
      </div>
    
      <div class="split-text">
        <h3>ISP</h3>
        <p id="isp"></p>
      </div>
    </div>
    
    
  </div>
  
  <div class="flex-item">
    <div id="map"></div>
  </div>
</div>
